:root {
    /* header/navbar colors */
    --navBgcolor: #1b263b;
    --reactFactsColor: #70d6ff;
    --reactCourseColor: #e0e1dd;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


body > div#root > div.container > header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: nowrap;
    background: var(--navBgcolor);
}

body > div#root > div.container > header > nav > div.logo {
    display: flex;
    align-items: center;
}

body > div#root > div.container > header > nav > div.logo > img {
    width: 50px;
    margin: auto 10px auto 30px;
} 

body > div#root > div.container > header > nav > div.logo > h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    display : inline;
    margin-bottom: 25px;
    text-align: center;
    color: var(--reactFactsColor);
}

body > div#root > div.container > header > nav > h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: auto 30px;
    color: var(--reactCourseColor);
}