:root {
    /* header/navbar colors */
    --navBgcolor: #212529;
    --reactFactsColor: #70d6ff;
    --reactCourseColor: #e0e1dd;

    /* main page colors */
    --mainBgcolor: #343a40;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--mainBgcolor);
}

body > div#root > div.container > header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: nowrap;
    padding: 20px;
    background: var(--navBgcolor);
}

body > div#root > div.container > header > nav > div.logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

body > div#root > div.container > header > nav > div.logo > img {
    width: 50px;
    margin: auto 10px auto 30px;
} 

body > div#root > div.container > header > nav > div.logo > h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    /* display : inline; */
    margin-bottom: 25px;
    text-align: center;
    color: var(--reactFactsColor);
}

body > div#root > div.container > header > nav > h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: auto 30px;
    color: var(--reactCourseColor);
}

body > div#root > div.container > main {
    background-image: url('../src/images/ReactLogo-1.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 250px;
    padding: 20px;
    
}

body > div#root > div.container > main > h1 {
    color:white;
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;   
}

body > div#root > div.container > main > ul {
    color: white;
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body > div#root > div.container > main > ul > li::marker {
    list-style-type: disc;
    color: var(--reactFactsColor);
    font-size: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 540px) {
    body > div#root > div.container > header > nav > h3 {
        flex-wrap: nowrap;
        flex-shrink: 0;
    }
}

@media screen and (max-width: 750px) {
    body > div#root > div.container > main {
        background-image: none;
    }
}